.page__check-domen
  section.check-domen
    .check-domen__title.
      Just a Proffesional Web Hosting Services
    .check-domen__text.
      modern  -  fast  -  reliable
    .check-domen__icon-wrap
      img(src="images/check-domen-ico.png", alt="иконка")
    .check-domen__form
      form(action="/").check-domen__form
        .check-domen__form-inner
          input.input.input--check-domen#check-domen(type="text",
                                        placeholder="Your Domain Name ...",
                                        name="input-domen")
        .check-domen__form-inner
          select#select-domen.select.select--check-domen(name="select-domen")
            option(value="com") com
            option(value="info") info
            option(value="ru") ru
            option(value="su") su
        .check-domen__form-inner
          button.btn.btn--submit-check-dosemen(type="submit") Check Availabili