.page__clients
  section.clients
    .clients__description
      h2 Our Clients
      p.
        This is Photoshop's version  of Lorem Ipsum.
        Proin gravida nibh vel velit auctor aliquet.
        Aenean sollicitudin, lorem quis bibendum.

    ul.clients__logo-list
      li: a.logo-client(href="#")
        img(src="images/client-logo1" alt="company-name")
      li: a.logo-client(href="#")
        img(src="images/client-logo2" alt="company-name")
      li: a.logo-client(href="#")
        img(src="images/client-logo3" alt="company-name")
      li: a.logo-client(href="#")
        img(src="images/client-logo4" alt="company-name")

    .clients__reviews
      .review-item
        .review-item__text
          p.
            “ This is Photoshop's version  of Lorem Ipsum.
            Proin gravida nibh vel velit auctor aliquet.
            Aenean sollicitudin, lorem quis bibendum auctor,
            nisi elit consequat ipsum, nec sagittis sem nibh id elit. ”
        span.review-item__autor -Anna
        .review-item__photo
          img(src="images/review-photo1")

      .review-item
        .review-item__text
          p.
            “ This is Photoshop's version  of Lorem Ipsum.
            Proin gravida nibh vel velit auctor aliquet.
            Aenean sollicitudin, lorem quis bibendum auctor,
            nisi elit consequat ipsum, nec sagittis sem nibh id elit. ”
        span.review-item__autor -Anna
        .review-item__photo
          img(src="images/review-photo1")

      .review-item
        .review-item__text
          p.
            “ This is Photoshop's version  of Lorem Ipsum.
            Proin gravida nibh vel velit auctor aliquet.
            Aenean sollicitudin, lorem quis bibendum auctor,
            nisi elit consequat ipsum, nec sagittis sem nibh id elit. ”
        span.review-item__autor -Anna
        .review-item__photo
          img(src="images/review-photo1")
