.page__features
  section.features
    .features__title
      h2 Our Features
    .features__subtitle
      h2 Our Best Features

    .features__inner

      .features__item
        .features__item-img
          span.icon.icon--features-support
        .features__item-text
          h3 Live Support
          p.
            This is Photoshop's version  of Lorem Ipsum.
            Proin gravida nibh vel velit auctor aliquet.

      .features__item
        .features__item-img
          span.icon.icon--features-cloud
        .features__item-text
          h3 Cloud Technology
          p.
            This is Photoshop's version  of Lorem Ipsum.
            Proin gravida nibh vel velit auctor aliquet.

      .features__item
        .features__item-img
          span.icon.icon--features-data-base
        .features__item-text
          h3 Hi Tech Database
          p.
            This is Photoshop's version  of Lorem Ipsum.
            Proin gravida nibh vel velit auctor aliquet.

      .features__item
        .features__item-img
          span.icon.icon--features-monitor
        .features__item-text
          h3 Live Monitoring
          p.
            This is Photoshop's version  of Lorem Ipsum.
            Proin gravida nibh vel velit auctor aliquet.s