.page__footer
  footer.footer

    .footer__map
      .map
        .map__img
          img(src="images/map.png")
        .map__object
          .map__marker
            img(src="images/icon-map-point.png")
          .map__title.
            Yogyakarta, Indonesia
            55282

    .footer__nav
      .footer__title
        Navigation
      ul.main-menu.main-menu--vertical(role="navigation")
        li
          a.main-menu__active-item.main-menu__active-item--vertical(href="") Home
        li
          a(href="") About
        li
          a(href="") Domain
        li
          a(href="") Hosting
        li
          a(href="") Contact
      .footer__social
        .networks
          a(href="").networks__icon.networks__icon--twitter twitter
          a(href="").networks__icon.networks__icon--instagram instagram
          a(href="").networks__icon.networks__icon--google google
      .footer__btn-up
        button.btn.btn--go-up Back to Top

    .footer__copyright
      .copyright.
        Copyright 2014 Maguwohost by FikriStudio