block header
  .page__header

    header.head

      .head__logo
        .logo
          a(href="#", role="banner")
            .logo__img
              img(src="images/logo.png", alt="логотип")
            span Maguwo<b>Host</b>

      .head__menu
        ul.main-menu(role="navigation")
          li
            a.main-menu__active-link(href="", disabled) Home
          li
            a(href="") About
          li
            a(href="") Pricing
          li
            a(href="") Domain
          li
            a(href="") Hosting

      .head__contact
        .ask-question
          .ask-question__text.
            Do you need help ? Just Email, Live chat or Call us
          .ask-question__inner
            a(href="#", role="button").btn.btn--live-chat Live Chat
            .ask-question__phone-number 6284-6534
