.page__price-request
  section.price-request
    .price-request__descr
      h2 Do you want to view Plans & Pricing ?
      p Follow the button in the right section.
    .price-request__btn
      a(href="#", role="button").btn.btn--price-request