block scripts
  // build:js scripts/vendor.js
  // bower:js
  script(src='/bower_components/jquery/dist/jquery.js')
  script(src='/bower_components/magnific-popup/dist/jquery.magnific-popup.js')
  // endbower
  //- script(src='scripts/libs/blueimp-gallery-fullscreen.js')
  // endbuild
  //- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjgiAfZA3kyzuaIrKJTNdZWjGcXdSNyt8&callback=initMap")
  //- script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU",type="text/javascript")
  script(src="scripts/main.js")
  //- script(src="scripts/groups.js")