.page__services
  section.services
    .services__item.services__item--blue
      .services__img
        span.icon.icon--services-server (src="images/template/sprite.png" alt="host")
      .services__text
        h2  #1 Webhost Services
        p.
          This is Photoshop's version  of Lorem Ipsum.
          Proin gravida nibh vel velit auctor aliquet.
          Aenean sollicitudin, lorem quis bibendum
          auctor, nisi elit consequat ipsum, nec
          sagittis sem nibh id elit.
      .services__btn
        a.btn.btn--more(href="#", role="button") More

    .services__item.services__item--yellow
      .services__img
        span.img-text-serivces Com
      .services__text
        h2  #1 Domain Services
        p.
          This is Photoshop's version  of Lorem Ipsum.
          Proin gravida nibh vel velit auctor aliquet.
          Aenean sollicitudin, lorem quis bibendum
          auctor, nisi elit consequat ipsum, nec
          sagittis sem nibh id elit.
      .services__btn
        a.btn.btn--more(href="#", role="button") More