<!DOCTYPE html>
html
  block head
    include ../_includes/head
body.page
  include ../_includes/svg

  block header
    include ../_includes/header

  block content

  block footer
    include ../_includes/footer
  //- POPUPS

  //- include ../_includes/_popups/popup-map
  //- include ../_includes/_popups/popup-callback
  //- include ../_includes/_popups/popup-write
  //- include ../_includes/_popups/popup-ask
  //- include ../_includes/_popups/popup-important
    
  block scripts
    include ../_includes/scripts
