extends _layouts/default

block content
  main
    include _includes/check-domen
    include _includes/services
    include _includes/features
    include _includes/clients
    include _includes/price-request
    include _includes/footer